{% extends "network/layout.html" %}
{%load static%}

{% block body %}

{% if user.is_authenticated%}

  <h5 id="profile_user">{{profile_user}}</h5>
  <div id="total_followers">{{total_followers}}</div>
  {% if profile_user != request.user %}
    {% if user in followers %}
      <a id="profile_unfollow" href="#">Unfollow</a>
    {% else %}
      <a id="profile_follow" href="#">Follow</a>
    {% endif %}
  {%endif%}
  <h6 id="user_id">{{profile_user.id}}</h6>
  <h5 id="logged_in">{{request.user}}</h5>
{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'network/profile.js' %}"></script>
{%endblock%}
