#profile_user{
  font-size: 50px;
  margin-left: 50px;
  margin-top: 30px;
}

#profile_user,#profile_follow,#total_followers{
  display: inline;
}

#profile_follow,#profile_unfollow{
  margin-left: 30px;
}

#total_followers{
  margin-left: 15px;
  margin-right: -15px;
}
