@keyframes disappear {

  0%{
    opacity: 1;
    height: 40px;
  }
  60%{
    opacity : .4;
    height : 40px;
    }
  100%{
    opacity: 0;
    height: 0px;
    }
  }

@keyframes appear {
  80% {
    opacity : 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear-down{
  from {
    height : 0cm;
    opacity : 0;
  }
  to {
    height: 100px;
    opacity: 1;
  }
}

@keyframes heart_appear {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
}

@keyframes heart_disappear {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

#new_post{
  animation-name: disappear;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  height : 40px;
  margin : 10px;
}

#post, #cancel {
  position: relative;
  animation-name: appear;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  opacity :0;
  margin : 10px;
}

#new_post_text{
  position: relative;
  animation-name: appear-down;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  width : 98.5%;
  height : 100px;
  resize: none;
  margin-left: 10px;
  margin-right: 10px;
  border-style : solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 5px;
}

.all_post{
  border-style : solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 20px;
  margin : 10px;
}

.user{
  margin-bottom: -5px;
  font-weight: bold;
  font-size: 20px;
}

#cancel{
  margin-top: -75px;
  margin-left: 80px;
}

#timezone{
  font-size:12px;
  color: grey;
}


.like , .liked{
  display: inline;
}

.liked{
  animation-name: heart_appear;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  position: relative;
  left : -22px;
  top :-1px;
  z-index: -1;
}

.like{
  animation-name: heart_disappear;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}
